# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/build
/.next
/out
/tmp
/out-tsc

# dependencies
/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
pnpm-debug.log

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Docker
*.pid

# Misc
*.tgz
*.tar.gz
*.zip
*.tmp
*.tsbuildinfo
*.tar.gz

# Ignore local data
/data/*.sqlite*
/data/*.db

#Personal Config
/src/environments/firebase.ConfigDummy.ts
firebase.json
.travis.yml


# Thêm dòng này vào cuối file .gitignore của dự án grip-store
.agents/skills/

# Playwright
.playwright-browsers/
playwright-report/
playwright/reports/
test-results/
